# CODEOWNERS' File Owners
CODEOWNERS @jonDorito

#Readme file owners
*.md @jonDorito

#Java project owners
java-rest-api/ @jonDorito @RoJoSaVs

#C-sharp project owners
CsharpNetCore/ @jonDorito @FabianFallas

#React project owners
React/ @RoJoSaVs @jonDorito

#Python project owners
Python/ @FabianFallas @RoJoSaVs
